#header-page{
    background-color: #1D87B1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

#footer-page{
    background-color: #1D87B1;
    height: 30px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

#wrapper {
	margin-top: 80px;
 	margin-bottom: 80px;
 	padding-top: 150px;
}

#form-signin-heading{
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

#information-reset-password{
    text-align: center;
    position:relative;
    padding-top: 250px;
    font-size: 30px;
}

#logonotas_app{
    padding-top: 10px;
}

#nombreColegio {
	font: 100% sans-serif;
	font-family:'Yanone Kaffeesatz', sans-serif;
	padding-left: 30%;
	padding-bottom: 0%;

}
.avatar{

 position: absolute; 
  top: 0px; 
  right: 5px; /*Pixeles a la izquierda de su posición natural*/
}

}

.usuario {

	font: 30% sans-serif;
	font-family:'Yanone Kaffeesatz', sans-serif;
	padding-left: 30%;
	padding-bottom: 0%;
    
}

/* estilo del banner */

*{
  margin: 0px;
  padding: 0px;
}


header{
  background-color: #1D87B1;
  border: 1px solid #000000;
}

nav{
  background-color: black;
  float:bottom;
    clear:both;
}

#notas{
  float: right;
}

#titulo{
  
  padding-left: 10%;
}

#img-sistema-de{
  float: right;
}

#texto{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: black;
  font-size: 45px;
}

#subtexto{
  font-family: cursive;
}

table tr:hover {
  background-color: #58ACFA;
  cursor: pointer;
}

