{% extends 'base_application.html' %}
{% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %}




{% block login_content %}

<div class="col-md-12">
    <div class="col-md-6" id="bannerEstadistica" style="background-color:#000000">
        <img src="{{STATIC_URL}}images/banner.png" width="500px" height="500px" >
</div>

<!-- PARA PONER LA SEGUNDA IMAGEN CON LA CIUDAD <div class="col-md-6" id="bannerEstadisticas2">
    <img src="{{STATIC_URL}}images/banner2.png" width="500px" height="500px" >
</div> -->

</div>





{% endblock %}






      