{% extends 'base_login.html' %}
{% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %}

{% block login_content %}
        <div id="wrapper">
            <form class="form-signin" method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                <div id="form-signin-heading">Iniciar sesión</div>
                <label>Ingrese su nombre de usuario</label>
                <input type="text" class="form-control" name="username" placeholder="ej: juancarlos" required=""/><br>
                <label>Ingrese su contraseña</label>
                <input type="password" class="form-control" name="password" placeholder="ej: *******" required=""/><br>
              <button class="btn btn-lg btn-success btn-block" type="submit">Iniciar sesión</button><br>
                <button type="button" class="btn btn-info">Olvide mi contraseña</button>
                <a href="manual"> <button type="button" style="margin-left: 70px" class="btn btn-info">Manual</button> </a>
            </form>

                <div class="chicoConsulta" class="col-md-8">
                    <img src="{{STATIC_URL}}images/consulta2.png" width=230px height="230px">
                </div>
        </div>
{% endblock %}


 